*
  &
  &:before
  &:after
    outline: 0
    box-sizing: inherit
    font-family: inherit
    font-size: inherit
    color: inherit

html
  box-sizing: border-box
  font: 400 16px/1.5 monospace
  color: #111

body
  margin: 0