<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <meta name="description" content="{{ htmlWebpackPlugin.options.description }}">

    <link rel="icon" href="favicon.ico" sizes="any">
    <link rel="icon" href="icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="apple.png">

    <link rel="manifest" href="manifest.webmanifest">
  </head>
  <body>
    {{> assets/canvas }}

    {{> assets/gitHubCorner }}
  </body>
</html>